Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


! URxvt
URxvt*font: xft:Hack Nerd Font:style=Regular:pixelsize=16:antialias=true:autohint=true
URxvt*scrollBar: False


! xst
st.font: Hack Nerd Font:style=Regular:pixelsize=16:antialias=true:autohint=true;
st.chscale: 0.8
st.cwscale: 0.8






! Colors

! Special
*foreground:	#cbe1e7
*background:	#1a1a1a
*cursorColor:	#ffffff

! Black
*color0:	#141228
*color8:	#565575

! Red
*color1:	#ff5458
*color9:	#ff8080

! Green
*color2:	#62d196
*color10:	#95ffa4

! Yellow
*color3:	#ffb378
*color11:	#ffe9aa

! Blue
*color4:	#223b75
*color12:	#bacdff

! Magenta
*color5:	#906cff
*color13:	#c991e1

! Cyan
*color6:	#63f2f1
*color14:	#aaffe4

! White
*color7:	#a6b3cc
*color15:	#cbe3e7
